body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 1024px;
    overflow: hidden;
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
}

#animation-bg {
    background: url('new-bg.png');
    animation: 30s scroll infinite linear;
    width: 1024px;
    height: 576px;
}

#animation-dude {
    background: url('new-body-3.png');
    width: 1024px;
    height: 576px;
    animation: breath 3s ease-in-out infinite alternate;
}

#animation-helmet {
    z-index: 2;
    position: relative;
    background: url('new-helmet.png');
    animation: head 3s ease-in-out infinite alternate;
}

#animation-gif-layer {
    z-index: 3;
    position: absolute;
    top: 0px;
    width: 1024px;
    height: 576px;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(50% 77.7%, 47.3% 75.8%, 45% 71.7%, 43% 67%, 39.4% 58%, 39% 55%, 37.8% 45%, 37.5% 38%, 37.6% 31%, 38% 27%, 38.7% 23%, 39.7% 19%, 41% 17%, 42% 15%, 43.4% 12%, 45% 11%, 46% 10%, 48% 9%, 48% 9%, 50% 9%, 52% 9%, 54% 10%, 56% 11%, 57.6% 13%, 59% 15%, 59% 17%, 61% 20%, 62% 24%, 62.5% 27%, 62.5% 31%, 62.7% 38%, 62.3% 43%, 61.2% 51%, 60% 58%, 58% 64%, 56% 69%, 53% 75%);
}

#animation-dude-mask{
    z-index: 4;
    position: relative;
    background: url('new-helmet-texture.png');
    width: 1024px;
    height: 576px;
}

@keyframes scroll{
    100%{ background-position: 0px -3000px; }
}

@keyframes breath {
    0% { transform: scale(1.0); }
    100% { transform: scale(1.06); }
}

@keyframes head {
    0% { top: -0px; }
    100% { top: 12px; }
}