body { background-color: #111; }

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#animation-bg{
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
    background: url('bg.png');
    animation: 30s scroll infinite linear;
    width: 640px;
    height: 900px;
}

#animation-dude{
    background: url('dude-bg.png');
    width: 640px;
    height: 900px;
}

#animation-gif-layer {
    z-index: 1;
    position:absolute;
    top: 524px;
    margin-left: 232px;
    width: 200px;
    height: 330px;
    background-color: green;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 200px / 330px;
}

#animation-dude-mask{
    z-index: 2;
    position: relative;
    background: url('dude-fg.png');
    width: 640px;
    height: 900px;
}

@keyframes scroll{
    100%{ background-position: 0px -3000px; }
}

#remove-mask {
    position: absolute;
    bottom: 50;
    font-size: 20px;
    color: white;
}