<html ng-app="emulationApp">
	<head>
		<title>Thieve's Roms</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
		
	</head>
	<body>
		<div id="container" ng-controller="MainControl">
			<a class="scrollLeft scroll">&lt;</a>
			<a class="scrollRight scroll">&gt;</a>
			<div id="menu" ng-controller="SystemsDisplay">
				<div ng-repeat="system in systems" data-info="console-{{system.systemName}}" class="system-menu" ng-click="itemClicked($index)"><img ng-src="{{system.systemImage}}" /></div>
			</div>
		</div>
		<div id="games" ng-controller="GamesDisplay" class="animate-slide" ng-show="slide">
			<div ng-repeat="(systemName,gamesList) in systems" id="console-{{systemName}}" ng-class="{ 'active': $index == selectedIndex }">
				<div ng-repeat="(key, game) in gamesList">{{game.gameName}}</div>
			</div>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="//code.angularjs.org/snapshot/angular-animate.js"></script>
	<script src="app.js"></script>
</html>