* { margin: 0; padding: 0;}

html, body {
	font-family: 'Press Start 2P', cursive;
	padding: 0;
	margin: 0;
	background-color: #2D2D2D;
	overflow: hidden;
	width: 1920px;
}


#container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-color: #BF1E1E;
	transition: top 1s;
	height: 150px;
	overflow: hidden;
	width: 1920px;
}
#container.active {top: 160px}

.scrollLeft, .scrollRight {
	position: relative;
	display: inline-block;
	font-size: 30px;
	color: white;
	padding-top: 62px;
	padding-left: 4px;
	padding-right: 10px;
	width: 20px;
	height: 70px;
	z-index: 1;
	user-select: none;
	-webkit-user-select: none;
}
.scrollLeft { float: left; }
.scrollRight { float: right; }

#menu {
	position: absolute;

	background-color: #BF1E1E;
	width: 1920px;
	height: 170px;
	white-space: nowrap;
	overflow-x: scroll;
	user-select: none;
	-webkit-user-select: none;
}
#menu img { padding-top: 50px; }
.system-menu {
	display: inline-block;
	width: 1920px;
	height: 130px;
	text-align: center;
	padding: 0;
	margin: 0;
}


#games {
	display: none;
	position:relative;
	left:34%;
	padding-top: 100px;
}
#games.active { display: block; }

div[id^="console-"] {
	z-index:-1;
	text-align: left;
	color: #ccc;
}