body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jeffs-zone {
    width: 740px;
    height: 700px;
    background-image: url('unlimitedanime.png');
    animation: anime 5s linear infinite;
}

@keyframes anime {
  from {
    background-size: 740px 700px;
  }

  1% {
    width: 1480px; height: 1400px;
    background-size: 1480px 1400px;
    transform: rotate(-10deg);
  }

  10% {
    width: 740px; height: 700px;
    background-size: 740px 700px;
    transform: rotate(10deg);
  }

  15% {
    width: 1480px; height: 1400px;
    background-size: 1480px 1400px;
    transform: rotate(-10deg);
  }

  30% {
    width: 740px; height: 700px;
    background-size: 740px 700px;
    transform: rotate(10deg);
  }

  45% {
    width: 1480px; height: 1400px;
    background-size: 1480px 1400px;
    transform: rotate(-10deg);
  }

  to {
    width: 740px; height: 700px;
    background-size: 740px 700px;
  }
}